{% extends "blog.html" %}
{% block title %}Categories{% endblock %}
{% block description %}All categories{% endblock %}
{% block blog_title %}All categories{% endblock %}
{% block blog_content %}
    <div class="list">
        <ul class="ul-1">
            {% for category, articles in categories %}
                <li>
                    <h4><a href="{{ SITEURL }}/{{ category.url }}"><i class="icon-folder-open icon-large"></i>{{ category }}</a></h4>
                    <ul class="ul-2">
                        {% for article in articles %}
                            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
